<!DOCTYPE html>
<html>
<head>
  <title>The Burnt Pizza Co</title>
  <link rel='stylesheet' href="/style.css" type="text/css">
</head>
<body>
  <h1 class="heading">The Burnt Pizza Co </h1>
  <div class="second_picture">
    <img src="burnt_pizza.png"/> </div>

  <h2 class="burning">Burning pizzas since 1939<h2>

<nav>
   <div class="important">
  <ul>
    <li>
      <a href="/pizza-orders">All Orders</a>
    </li>
    <li>
        <a href="/pizza-orders/new">Create Order</a>
    </li>
  </ul>
 </div>
</nav>
  <%= yield %>
</body>
</html>
