
body{
    margin: 0;
    background-color: black;
    background-image: url("background1.png");
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}

h2.burning{
   font-style : italic;
   color : white;
   margin: 0 auto;
   margin-top: -100px;
   margin-left: 10px;
   margin-bottom: 1px;

}

    a:link {
      color : white;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 1px;
      margin-left: -20px;

    }
    a:visited {
      color : white;
    }
    a:hover {
      color : white;
    }
    a:active {
      color : white;
    }


div.second_picture {
position : right bottom;
size : 10%;
margin-top: 20px;
}

div.index{
color: white;
margin: 0 auto;
margin-top: 1px;
margin-left: 10px;


}

h1.heading{
  font-size: 100px;
  color: white;
  max-width:100%;
  margin: 0 auto;
  margin-top: 1px;
  margin-left: 300px;
}

div.important{
  font-size: 50px;
  color: white;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 100px;
}


p.show_order {
  color : white;
}

p {
  font-style: oblique;
  font-size: 22px;
  color: white;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 100px;
}
div {
  font-style: oblique;
  font-size: 43px;
  color: white;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}

div.order {
  font-style: oblique;
  font-size: 43px;
  color: white;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 100px;

}

div.button1 {
  font-size: 22px;
  color: white;
  max-width:100%;
  margin: 0 auto;
  margin-top: 1px;
  margin-right: 200px;
}

div.button2 {
  font-size: 22px;
  color: white;
  max-width:100%;
  margin: 0 auto;
  margin-top: 1px;
  margin-right: 200px;
}
div.button3 {
  font-size: 22px;
  color: white;
  max-width:100%;
  margin: 0 auto;
  margin-top: 1px;
  margin-right: 200px;
}
div.button4 {
  font-size: 22px;
  color: white;
  max-width:100%;
  margin: 0 auto;
  margin-top: 1px;
  margin-right: 200px;
}
div.button5 {
  font-size: 22px;
  color: white;
  max-width:100%;
  margin: 0 auto;
  margin-top: 1px;
  margin-right: 200px;
}
